# OSX
#
.DS_Store

# node.js
#
node_modules
npm-debug.log
yarn-error.log
junit.xml
test-report.xml
.eslintcache

# Others
#
trash
.env
.env.local
.env.*.local

\.vscode/
\.vs/

# confluent-schema-registry
#
tmp
dist
release
.github/work-items

# website
#
build
*.swp
*~

.docusaurus